<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


    <!-- Font Icon -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
     <link rel="stylesheet" href="{% static 'css/xyz.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Select Drop Menu css -->
    <link rel="stylesheet" href="{% static 'css/select.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
   $( function() {
     $( "#id_datepicker" ).datepicker();
     $( "#anim" ).on( "change", function() {
       $( "#id_datepicker" ).datepicker( "option", "showAnim", "slide" );
     });
     $("#id_datepicker").attr('readonly', 'readonly');
   } );
   </script>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Home</h2>
                        <b>Welcome {{user}}</b>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                            <ul class="list-group list-group-flush">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <a href="registerDealer" class="signup-image-link"> Register Dealer </a>
                                    <span class="badge bg-primary rounded-pill">{{total_dealers}}</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <a href="DealerActivation" class="signup-image-link"> Activation Data </a>
                                    <span class="badge bg-primary rounded-pill">{{total_activation}}</span>
                                  </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <a href="DealerVisit" class="signup-image-link"> Visit Data </a>
                                    <span class="badge bg-primary rounded-pill">{{total_visits}}</span>
                                  </li>
                            </ul>
                        </ul>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <div class="signup-form"></div>
                        <a href="changepassword" class="signup-image-link">Badilisha password yako</a>
                        <a href="logout" class="signup-image-link">Logout</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>